
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.App {
  text-align: center;
  font-family: 'PT Serif', serif;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minnax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

input{
  border: none;
  border-bottom: 1px solid;
  padding: 6px;
  border-radius: 4px;
  background-color: #1B1F3B;
  color: white;
}

#body1 {
  background-color: #1B1F3B;
  height: 1000vh;
}

#bttn-category {
  background-color: #5F7470;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

#bttn-category:hover {
  background-color: white;
  border: none;
  text-transform: uppercase;
  color: black;
}

#date {
  margin-top: 80px;
  justify-content: end;
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

#card-bttn{ 
  border: solid 1px grey;
  color: black;
  background-color: white;
  margin-right: 8px;
}

#card-bttn:hover { 
  border: solid 1px grey;
  background-color:  #5F7470; 
  color: white;
}

#delete-bttn{
  font-size: 12px;
  padding: 4px;
}

#category-title{
  margin: 0px 0px -25px 10px;
}

#sub-title{
  /* font-size: 10px; */
  margin-bottom: -20px;
  font-weight: 200;
  font-weight: 10px;
}

#total-card{
  background-color: #5F7470;
}

#expenses-desc {
  font-size: 20px;
  font-weight: 300;
}